<!-- nav bar -->

<nav class="desktop-nav">
    <div class="title">
        <a href="#" class="brand">AR</a>
    </div>

    <ul class="menu-items">
        <li>
            <a href="#product" class="active">Product</a>
        </li>

        <li>
            <a href="#template">Template</a>
        </li>

        <li>
            <a href="#blog">Blog</a>
        </li>

        <li>
            <a href="#pricing">Pricing</a>
        </li>
    </ul>
    <ul class="login">
        <li>
            <a href="#signin" class="signin">Signin</a>
        </li>

        <li>
            <a href="#contact" class="btn">Start Free</a>
        </li>
    </ul>
</nav>

<!-- content -->

<div class="container">
    <div class="container-wrapper">
        <h1 class="title">Managing freelance payments <br>has never been easier</h1>
        <p class="sub-title"> End-to-end payment and financial management <br>in a single solution. Meet the right platform to </p>
        <button  class="get-started">Get Started</button>
        <button  class="demo">request demo</button>
    </div>
</div>

<!-- brands -->

<div class="brands-section">
    <h2>Over 32k+ software businesses growing</h2>

    <div class="brands-container">
        <img src="assets/zeppelin.png" alt="">
        <img src="assets/oracle.png" alt="">
        <img src="assets/morpheus.png" alt="">
        <img src="assets/samsung.png" alt="">
        <img src="assets/monday.png" alt="">
        <img src="assets/segment.png" alt="">
        <img src="assets/protonet.png" alt="">
        
    </div>
</div>

